<h1><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hivemodal_modal" /></h1>

<f:if condition="{processedRow.tx_hivemodal_backendtitle}">
    <h4 class="backendtitle">{processedRow.tx_hivemodal_backendtitle}</h4>
</f:if>

<f:if condition="{processedRow.tx_hivemodal_openafter_active}">
    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_openafter" />:</strong>
    {processedRow.tx_hivemodal_openafter} ms<br>

    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_openscrolling" />:</strong>
    <f:if condition="{processedRow.tx_hivemodal_openscrolling} == 0">
        <f:then>off</f:then>
        <f:else>on</f:else>
    </f:if>
    <br><br>
</f:if>

<f:if condition="{processedRow.tx_hivemodal_closeafter_active}">
    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_closeafter" />:</strong>
    {processedRow.tx_hivemodal_closeafter} ms<br>

    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_closescrolling" />:</strong>
    <f:if condition="{processedRow.tx_hivemodal_closescrolling} == 0">
        <f:then>off</f:then>
        <f:else>on</f:else>
    </f:if>
    <br><br>
</f:if>

<strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_closebackdrop" />:</strong>
<f:if condition="{processedRow.tx_hivemodal_closebackdrop} == 0">
    <f:then>off</f:then>
    <f:else>on</f:else>
</f:if>
<br><br>

<f:if condition="{processedRow.tx_hivemodal_link}">
    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_link" /></strong>
    {processedRow.tx_hivemodal_link}<br><br>
</f:if>

<f:if condition="{processedRow.tx_hivemodal_media}">
    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_media" />:</strong>
    <f:for each="{processedRow.tx_hivemodal_media}" as="item">
        <f:for each="{item.uid_local}" as="file">
           {file.title} (id={item.uid})
        </f:for>
    </f:for>
    <br><br>
</f:if>
<br>
<f:if condition="{processedRow.tx_hivemodal_content}">
    <strong><f:translate key="LLL:EXT:hive_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivemodal_content" /></strong>
    <br><f:for each="{processedRow.tx_hivemodal_content}" as="item">
    <ul>
        <li>
            <strong>{item.CType.0}:</strong>
            <f:if condition="{item.header}">{item.header}</f:if>
            (id={item.uid})<br/>
        </li>
    </ul>
</f:for>
</f:if>
