/*allow scrolling on site*/
body.modal-open {
    overflow-y: auto !important
}

.tx-hive-modal .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.tx-hive-modal .modal-body {
    padding: 0;
}

.tx-hive-modal .modal-body .modal-media {
    width: 100%;
}