<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bg4ce="http://typo3.org/ns/SBTheke/Backgroundimage4ce/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx-hive-modal modal fade
    {f:if(condition: data.tx_hiveovrttcontent_customcssclass, then: ' {data.tx_hiveovrttcontent_customcssclass}')}
    {f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}{f:if(condition: data.frame_class, then: ' frame-{data.frame_class}')}"
     id="hive_modal_{data.uid}" tabindex="-1" aria-labelledby="{data.tx_hivemodal_backendtitle}" aria-hidden="true"
     data-uid="{data.uid}"
     data-width="{data.tx_hivemodal_width}"
     data-open-after-active="{data.tx_hivemodal_openafter_active}"
     data-open-after="{data.tx_hivemodal_openafter}"
     data-open-scrolling="{data.tx_hivemodal_openscrolling}"
     data-close-after="{data.tx_hivemodal_closeafter}"
     data-close-scrolling="{data.tx_hivemodal_closescrolling}"
     data-cookie-lifetime="{v:variable.typoscript(path: 'plugin.tx_hivemodal.settings.cookie-lifetime')}"
     {f:if(condition: '{data.tx_hivemodal_closebackdrop}', then: '', else: 'data-bs-backdrop="static"')}
>

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="{f:if(condition: '{data.tx_hivemodal_width} > 0', then: 'max-width:{data.tx_hivemodal_width}px;')}">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            <f:if condition="{data.tx_hivemodal_link}">
                <f:then>
                    <f:link.typolink class="modal-link" parameter="{data.tx_hivemodal_link}">
                        <f:render section="modalBody" arguments="{_all}" />
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <f:render section="modalBody" arguments="{_all}" />
                </f:else>
            </f:if>

            <f:comment>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </f:comment>
        </div>
    </div>
</div>

<f:section name="modalBody">
    <div class="modal-body{f:if(condition: data.tx_backgroundimage4ce_active, then: ' {bg4ce:renderBackground(cObj: data)}')}">

        <f:if condition="{data_tx_hivemodal_media.0}">
            <f:media width="{dimensions.width}" height="{dimensions.height}" class="modal-media media-embed-item img-fluid"
                     file="{data_tx_hivemodal_media.0}"  alt="{data_tx_hivemodal_media.0.alternative}"
                     title="{data_tx_hivemodal_media.0.title}" loading="{settings.media.lazyLoading}" decoding="{settings.media.imageDecoding}" />
        </f:if>

        <f:if condition="{data_tx_hivemodal_content}">
            <f:for each="{data_tx_hivemodal_content}" as="content_item">
                <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
            </f:for>
        </f:if>
    </div>
</f:section>

</html>